@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
        url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.eot');
    src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff'),
        url('../fonts/CenturyGothic-Bold.ttf') format('truetype'),
        url('../fonts/CenturyGothic-Bold.svg#CenturyGothic-Bold') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff'),
        url('../fonts/CenturyGothic.ttf') format('truetype'),
        url('../fonts/CenturyGothic.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Beyond The Mountains';
    src: url('../fonts/Beyond The Mountains.eot');
    src: url('../fonts/Beyond The Mountains.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Beyond The Mountains.woff2') format('woff2'),
        url('../fonts/Beyond The Mountains.woff') format('woff'),
        url('../fonts/Beyond The Mountains.ttf') format('truetype'),
        url('../fonts/Beyond The Mountains.otf') format('opentype'),
        url('../fonts/Beyond The Mountains.svg#Beyond The Mountains') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-02DC;
}

@font-face {
    font-family: 'Beyond The Mountains';
    src: url('../fonts/BeyondTheMountains.eot');
    src: url('../fonts/BeyondTheMountains.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BeyondTheMountains.woff2') format('woff2'),
        url('../fonts/BeyondTheMountains.woff') format('woff'),
        url('../fonts/BeyondTheMountains.ttf') format('truetype'),
        url('../fonts/BeyondTheMountains.otf') format('opentype'),
        url('../fonts/BeyondTheMountains.svg#BeyondTheMountains') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-00FD;
}

@mixin placeholder() {
    input::-webkit-input-placeholder {
        @content
    }

    input:-moz-placeholder {
        @content
    }

    input::-moz-placeholder {
        @content
    }

    input:-ms-input-placeholder {
        @content
    }
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Century Gothic';
    margin: 0;
    padding: 0;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Century Gothic';
    }

    p {
        font-family: 'Century Gothic';
        font-size: 0.9rem;
    }

    .btn {
        font-size: 14px;
        font-family: 'Century Gothic';
        border-radius: 0;

        &.btn-lg {
            font-size: 20px;
            font-weight: bold;
        }

        &.btn-dark {
            background-color: #2f2f31;
            border-color: #2f2f31;
            color: #fff;
        }

        &.btn-primary {
            background-color: #756aee;
            border-color: #756aee;
            color: #fff;
        }
    }

    .cursor {
        margin-left: 5px;
        opacity: 1;
        -webkit-animation: blink 0.7s infinite;
        animation: blink 0.7s infinite;
    }

    @keyframes blink {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    header.mainHeader {
        nav.navbar {
            transition: all 0.5s linear;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            padding: 0;
            z-index: 3;

            a.navbar-brand {
                padding: 0px 0;
            }

            button.navbar-toggler {
                border: 0 none;
                outline: none;
                position: absolute;
                right: 0;
            }

            span.logo {
                display: block;
                position: relative;
                overflow: hidden;

                @media(max-width: 767px) {
                    margin-left: 5px;

                    img {
                        max-width: 135px;
                    }
                }

                .logo-light {
                    opacity: 1;
                    transform: translateY(0%);
                    transition: all 0.5s linear;
                }

                .logo-dark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transform: translateY(100%);
                    transition: all 0.5s linear;
                }
            }

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }

            .navbar-collapse {
                @media(max-width: 991px) {
                    background: rgba(255, 255, 255, 0.98);
                    padding-top: 15px;
                    padding-bottom: 15px;
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                }

                ul.navbar-nav {
                    .nav-item {
                        >.nav-link {
                            transition: color 0.5s linear;
                            color: #fff;
                            font-size: 13px;
                            font-weight: 500;
                            padding: 34px 12px;
                            transition: all 0.3s linear;

                            &:hover {
                                color: rgba(255, 255, 255, 0.5)
                            }

                            @media(max-width: 991px) {
                                padding: 8px 12px;
                                color: rgba(0, 0, 0, 1);

                                &:hover {
                                    color: rgba(0, 0, 0, 0.7);
                                }
                            }
                        }

                        &.active>a {
                            color: #fffc00;

                            &:hover {
                                color: rgba(255, 252, 0, 0.7);
                            }

                            @media(max-width: 991px) {
                                color: rgba(0, 0, 0, 1);
                                background-color: rgba(0, 0, 0, 0.02);

                                &:hover {
                                    color: rgba(0, 0, 0, 0.7);
                                }
                            }
                        }

                        &.dropdown {
                            @media(min-width: 992px) {
                                .dropdown-toggle:after {
                                    display: none;
                                }

                                >.dropdown-menu {
                                    display: block;
                                    opacity: 0;
                                    visibility: hidden;
                                    transition: all 0.3s linear;
                                }

                                &:hover {
                                    >.dropdown-menu {
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }
                            }

                            @media(max-width:991px) {
                                .dropdown-menu {
                                    border-radius: 0;
                                    border-left: 0;
                                    border-right: 0;

                                    a.dropdown-item {
                                        font-size: 13px;
                                        padding: 8px 12px;
                                    }
                                }
                            }

                        }
                    }
                }
            }

            &.sticky {
                background-color: #fff !important;

                span.logo {
                    .logo-light {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    .logo-dark {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }

                ul.navbar-nav {
                    .nav-item {
                        @media(min-width: 991px) {
                            >.nav-link {
                                padding: 22px 12px;

                                color: rgba(0, 0, 0, 0.6);

                                &:hover {
                                    color: rgba(0, 0, 0, 1);

                                }
                            }

                            &.active>a {
                                color: rgba(0, 0, 0, 1);

                                &:hover {
                                    color: rgba(0, 0, 0, 0.8);
                                }

                            }
                        }
                    }
                }
            }
        }

        .headerSpace {
            background: #fff;
            min-height: 87px;
            display: block;

            @media(max-width:991px) {
                min-height: 68px;
            }

            @media(max-width:767px) {
                min-height: 48px;
            }

            nav.navbar {
                background: #fff !important;

                span.logo {
                    .logo-light {
                        transform: translateY(-100%);
                        opacity: 0;
                    }

                    .logo-dark {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
                }

                ul.navbar-nav {
                    .nav-item {
                        @media(min-width: 991px) {
                            >.nav-link {
                                padding: 34px 12px;

                                color: rgba(0, 0, 0, 0.6);

                                &:hover {
                                    color: rgba(0, 0, 0, 1);

                                }
                            }

                            &.active>a {
                                color: rgba(0, 0, 0, 1);

                                &:hover {
                                    color: rgba(0, 0, 0, 0.8);
                                }

                            }
                        }
                    }
                }
            }
        }

        #parallax.bannerWrap {
            position: relative;
        }

        .mainslider.owl-carousel {
            position: relative;

            .owl-dots {
                position: absolute;
                bottom: 10px;
                left: 0;
                right: 0;
                z-index: 2;
                text-align: center;

                button.owl-dot {
                    outline: none;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    margin: 0 5px;
                    background-color: rgba(255, 255, 255, 0.5);

                    &.active {
                        background-color: rgba(255, 255, 255, 1);

                    }
                }
            }

            .owl-item {
                .banner {
                    height: auto;
                    position: relative;
                    z-index: -1;
                    padding: 100vh 0 0;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;

                    .banner-content {
                        position: absolute;
                        bottom: auto;
                        left: auto;
                        right: 0;
                        top: 55%;
                        z-index: 3;
                        text-align: center;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: all 0.4s linear 0.5s;

                        h3 {
                            text-align: center;
                            background-color: rgba(255, 255, 255, 0.5);
                            color: #000;
                            display: inline-block;
                            padding: 10px 15px;
                            text-transform: uppercase;
                        }

                        @media(max-width: 767px) {
                            left: 0;
                            right: 0;
                            text-align: center;

                            h3 {
                                padding: 5px 10px;
                                font-size: 18px;
                            }
                        }
                    }
                }

                &.active {
                    .banner .banner-content {
                        top: 50%;
                        opacity: 1;
                    }
                }
            }
        }

    }

    section.scroll {
        background-color: #fff;
        padding: 38px 0;
        position: relative;
        z-index: 1;

        @media(max-width:991px) {
            padding-bottom: 15px;
            padding-top: 30px;
        }

        @media(max-width:767px) {
            padding-top: 15px;
        }

        ul.list-unstyled {
            li {
                h6 {
                    font-size: 16px;
                    color: rgb(13, 13, 13);
                    font-weight: bold;
                    line-height: 1.2;
                    margin: 0;
                    padding: 0;
                }

                p {
                    font-size: 12px;
                    color: rgb(38, 37, 37);
                    line-height: 1.4;
                    font-weight: normal;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    footer.main-footer.footer {
        width: 100%;
        background: #292929;
        color: #fff;
        margin-top: 0px;

        @media only screen and (min-width: 960px) {

            &.footer-fixed {
                position: fixed;
                bottom: 0;
                z-index: -2;
            }
        }
    }

    .featuredThumb {
        .embed-responsive {
            h6 {
                position: absolute;
                bottom: 0px;
                right: 0px;
                left: 0;
                top: auto;
                text-align: right;
                color: #fff;
                z-index: 1;
                margin: 0;
                padding: 10px 10px;
                font-weight: normal;
            }
        }
    }

    .toursThumb {
        .embed-responsive {
            img {
                transition: all 0.7s ease;
            }

            .caption {
                position: absolute;
                bottom: auto;
                right: 0px;
                left: 0;
                top: 50%;
                text-align: center;
                color: #fff;
                z-index: 1;
                margin: 0;
                padding: 10px 10px;
                background: transparent;
                // transform: translateY(-50%) scaleY(0);
                transform: translateY(-50%);
                opacity: 1;
                transition: all 0.5s ease-in-out;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

                &.text-black {
                    color: #000;
                }

                h6 {
                    margin: 0;
                    padding: 0;
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }

        &:hover {

            // .caption{ transform: translateY(-50%) scaleY(1); }
            .caption {
                opacity: 0;
            }

            img {
                // filter: grayscale(100%);
                // opacity: 1;
                transform: scale(1.2);
            }
        }
    }
}

.footersocialLink {
    margin: 0 -5px 15px;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;

    @media(max-width:991px) {
        justify-content: center;
    }

    li {
        margin: 0;
        list-style: none;
        padding: 0 5px;

        a {
            display: block;
            text-decoration: none;
            width: 31px;
            height: 31px;
            border-radius: 2px;
            background-size: auto 18px;
            background-repeat: no-repeat;
            background-position: center;
            opacity: 1;
            transition: all 0.3s linear;

            &:hover {
                opacity: 0.7;
            }

            &.socialLink_facebook {
                background-color: #3b589c;
                background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z'/%3E%3C/svg%3E");
            }

            &.socialLink_twitter {
                background-color: #4fabf4;
                background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath d='M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z'/%3E%3C/svg%3E");
            }

            &.socialLink_youtube {
                background-color: #e32819;
                background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512'%3E%3Cpath d='M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z'/%3E%3C/svg%3E");
            }

            &.socialLink_instagram {
                background-color: #e82c69;
                background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath d='M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z'/%3E%3C/svg%3E");
            }
        }
    }
}



.main-footer {
    .socialWrap {
        background-color: #292929;
        color: #fff;
        padding-top: 30px;
        padding-bottom: 30px;

        @media(max-width:991px) {
            text-align: center;
        }

        .socialTitle {
            font-weight: 300;
            font-size: 37px;

            @media(max-width:991px) {
                font-size: 28px;
            }
        }

        h6 {
            font-weight: 300;
            font-size: 16px;
        }

        .socialLink {
            margin: 0 -5px 0px;
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: center;

            li {
                margin: 0;
                list-style: none;
                padding: 0 5px;

                a {
                    display: block;
                    text-decoration: none;
                    background-size: auto 100%;
                    background-repeat: no-repeat;
                    background-position: center;
                    transition: all 0.3s linear;
                    opacity: 1;
                    width: 39px;
                    height: 37px;

                    &:hover {
                        opacity: 0.5;
                    }

                    &.socialLink_facebook {
                        background-image: url('../images/social_icon_facebook.png');
                    }

                    &.socialLink_twitter {
                        background-image: url('../images/social_icon_twitter.png');
                    }

                    &.socialLink_youtube {
                        background-image: url('../images/social_icon_youtube.png');
                    }

                    &.socialLink_instagram {
                        background-image: url('../images/social_icon_instagrame.png');
                    }
                }
            }
        }

        .newsletter {
            h3 {
                font-size: 33px;
                color: rgb(255, 255, 255);
                line-height: 1.2;
                text-align: left;

                @media(max-width:991px) {
                    text-align: center;
                }

                @media(max-width:767px) {
                    font-size: 18px;
                }
            }

            .input-group {
                position: relative;
                width: auto;
                max-width: 286px;

                @media(max-width:991px) {
                    max-width: none;
                }

                .form-control {
                    display: block;
                    background-color: transparent;
                    border-width: 1px;
                    border-color: rgb(161, 161, 161);
                    border-style: solid;
                    border-radius: 8px;
                    height: 43px;
                }

                .input-group-append {
                    position: absolute;
                    top: 3px;
                    right: 0;

                    .btn {
                        border: 0 none;
                        box-shadow: none;
                        z-index: 0;
                    }
                }
            }
        }
    }

    .main-footer {
        background-image: url('../images/footer_banner.jpg');
        background-color: #000;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
        padding: 40px 0;

        @media(max-width:991px) {
            text-align: center;
        }

        .footer_text {
            color: #fff;
            font-size: 13px;
            text-align: right;

            @media(max-width:991px) {
                text-align: center;
            }
        }

        .footerLinks {

            ul {
                list-style: none;
                padding: 0;

                @media(max-width:767px) {
                    margin: 0;
                    padding: 0;
                }

                li {
                    margin-bottom: 12px;
                }

                a {
                    font-size: 14px;
                    color: #fff;
                    transition: all 0.3s linear;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        color: #756aee;
                    }
                }
            }
        }
    }
}


.instagram-block {
    position: relative;

    &:after {
        display: initial
    }

    a {
        padding: 0;
        display: inline-block;
        height: 100%;
        overflow: hidden;
        vertical-align: middle;
        background-color: transparent
    }

    .viewInstagram {
        background: #292929;
        color: #fff;
        padding: 5px 0px;
        position: absolute;
        height: auto;
        z-index: 2;
        width: 200px;
        margin: auto;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        height: 34px;
        text-align: center;
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;

        @media(max-width: 767px) {
            font-size: 13px;
            height: 28px;
            width: 160px;
            padding: 4px 0;
        }
    }
}

// .instagram-block a:before { content: ""; display: inline-block; height: 100%; vertical-align: middle }
.wrapper #instafeed.owl2row-plugin a {
    margin: 0
}

.wrapper #instafeed.owl2row-plugin.owl-carousel .owl-item img {
    width: 100%;
    height: auto
}

.carousel-align-arrows div.owl-nav {
    display: table;
    position: static
}

.carousel-align-arrows.owl-theme {
    position: relative
}

@media screen and (max-width:768px) {
    .carousel-align-arrows.owl-theme .owl-controls {
        position: absolute;
        width: 100%;
        bottom: -10px
    }
}

.carousel-align-arrows.owl-theme .owl-controls .owl-nav [class*=owl-] {
    position: absolute
}

.carousel-align-arrows.owl-theme .owl-controls .owl-nav [class*=owl-]:hover,
.carousel-align-arrows.owl-theme .owl-controls .owl-nav [class*=owl-]:focus {
    opacity: 1
}

.carousel-align-arrows.owl-theme .owl-controls .owl-nav .owl-left {
    left: 0
}

.carousel-align-arrows.owl-theme .owl-controls .owl-nav .owl-next {
    right: 10px
}


#instafeed .instagram-content {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 120%;
    color: #fff;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        margin: 0 5px;
    }
}

#instafeed a:hover img {
    filter: brightness(70%)
}

#instafeed a:hover .instagram-content {
    visibility: visible
}

img.back_arrow {
    transform: rotate(180deg);
    margin-left: 5px;
}

.pageHeader {
    margin: 0 0 20px;

    .page-title {
        color: rgb(0, 0, 0);
        line-height: normal;
        font-weight: normal;
        font-size: 25px;
        margin: 0;
        padding: 0;
    }

    .sub-title {
        font-size: 15px;
        font-weight: normal;
        line-height: normal;
        color: rgb(60, 58, 58);
        margin: 0;
        padding: 0;
    }
}


.content {
    &.cpc-content {
        img {
            display: block;
            margin: auto;

            @media(max-width:767px) {
                &.contestLogo {
                    max-width: 160px;
                    margin-top: 15px;
                }
            }
        }

        p {
            font-size: 14px;
            color: rgb(38, 37, 37);

        }

        .catList {
            margin-top: 15px;
            margin-bottom: 30px;

            @media(max-width:767px) {
                margin-left: -5px;
                margin-right: -5px;

                >[class*="col"] {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }

            .catBox.filter-button {
                border-radius: 9px;
                background-color: rgb(109, 207, 246);
                font-size: 16px;
                font-weight: normal;
                color: #fff;

                &.active {
                    background-color: #1a8fbd;
                }
            }
        }

        @media(max-width:767px) {
            .row.gutter-5 {
                margin-left: -5px;
                margin-right: -5px;

                >[class*="col"] {
                    padding-left: 5px;
                    padding-right: 5px;
                }
            }
        }
    }

    &.content-blog {
        .main-Section {
            &.main-Section-1 {
                .row.gutters-6 {
                    margin-left: -6px;
                    margin-right: -6px;

                    >[class*="col"] {
                        padding-left: 6px;
                        padding-right: 6px;
                    }
                }

                .row.gutters-3 {
                    margin-top: 6px;
                    margin-left: -3px;
                    margin-right: -3px;

                    >[class*="col"] {
                        padding-left: 3px;
                        padding-right: 3px;
                    }
                }

                .thumbWrap {
                    position: relative;

                    .captionWrap {
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        color: #fff;
                        padding: 15px 15px;

                        &.left {
                            text-align: left;
                        }

                        &.right {
                            text-align: right;
                        }

                        h6 {
                            font-weight: normal;
                            font-size: 12px;
                            margin: 0;
                            padding: 0;
                        }

                        h5 {
                            font-weight: normal;
                            font-size: 15px;
                            margin: 0;
                            padding: 0;
                        }

                        a.readmore {
                            font-weight: normal;
                            font-size: 12px;
                            color: #fff;
                            text-decoration: none;
                            background-image: url('../images/btn_right.svg');
                            background-repeat: no-repeat;
                            background-position: center right;
                            padding: 0 18px 0 0;
                            background-size: auto 100%;
                            line-height: 16px;
                            display: inline-block;
                        }
                    }
                }
            }

            &.main-Section-2 {
                .row.gutters-6 {
                    margin-left: -6px;
                    margin-right: -6px;

                    >[class*="col"] {
                        padding-left: 6px;
                        padding-right: 6px;
                    }
                }
            }

            &.main-Section-3 {
                h6 {
                    margin-bottom: 10px;
                }

                .thumbWrap {
                    position: relative;
                    margin-bottom: 10px;

                    .captionWrap {
                        position: absolute;
                        z-index: 1;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        color: #fff;
                        padding: 15px 15px;

                        h5 {
                            font-size: 15px;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }

                p {
                    line-height: 22px;
                }
            }
        }
    }

    &.content-blog-details {
        .pageHeader {
            .page-title {
                font-size: 20px;
                font-weight: bold;
                text-align: justify;

                @media(max-width: 767px) {
                    margin-bottom: 10px;
                    font-size: 16px;
                }
            }

            h3.time {
                font-size: 12px;
                color: rgb(117, 106, 238);
                font-weight: bold;
                margin: 0;
            }
        }

        .footersocialLink {
            margin: 0;

            @media(max-width: 767px) {
                justify-content: flex-end;
            }

            li a {
                width: 22px;
                height: 22px;
                background-size: auto 14px;
            }
        }
    }

    &.content-contactus {
        .sectionTitle {
            font-size: 19px;
            color: rgb(0, 0, 0);
            font-weight: bold;
            margin-bottom: 20px;
        }

        form {
            .form-group {
                .form-control {
                    border-width: 0 0 1px;
                    border-color: #000;
                    border-radius: 0;
                    padding-left: 0;
                    padding-right: 0;
                    outline: none;
                    box-shadow: none;

                }
            }

            .btn.btn-dark {
                border-radius: 7px;
                background-color: rgb(0, 0, 0);
                border-color: rgb(0, 0, 0);
                color: #fff;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 20px;
            }
        }

        .rte {
            a {
                color: #000;
            }
        }
    }

    &.content-register {
        padding-top: 50px;
        @media(max-width:767px) {
            padding-top: 30px;
        }
        h6.joinIn {
            font-size: 18px;
            text-align: center;
            font-weight: normal;
            margin-top: 0px;
            margin-bottom: 60px;
            @media(max-width:767px) {
                margin-bottom: 20px;
            }
        }

        form {
            .form-group {
                .form-control {
                    border-width: 0 0 1px;
                    border-color: #000;
                    border-radius: 0;
                    padding-left: 0;
                    padding-right: 0;
                    outline: none;
                    box-shadow: none;
                    color: #020202;
                    font-size: 14px;
                    font-weight: normal;
                }

                @include placeholder {
                    color: currentColor;
                    opacity: 1;
                }


            }

            .btn.btn-dark {
                border-radius: 7px;
                background-color: rgb(0, 0, 0);
                border-color: rgb(0, 0, 0);
                color: #fff;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 20px;
            }
        }
    }

    &.suritDutta {
        background-image: url('../images/suritDutta_bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        padding-bottom: 0;

        .profileImgWrap {
            position: relative;
            margin-top: -50%;
            @media(max-width:767px) {
                margin-top: -100px;
            }
            .profileImgSlider {
                max-width: 270px;
                margin-left: auto;
                margin-right: auto;

                @media(max-width:767px) {
                    max-width: 180px;
                }

                .sliderIteam {
                    border-radius: 50%;
                    border: 4px solid rgb(117, 106, 238);
                    width: 100%;
                    padding-top: 100%;
                    position: relative;
                    overflow: hidden;

                    img.pravatar {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }

        .profileSocialLink {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            list-style: none;
            margin: 15px 0 20px;
            padding: 0;

            li {
                margin: 0 25px;
                padding: 0;

                &:first-of-type {
                    transform: translateY(-30px);
                }

                &:last-of-type {
                    transform: translateY(-30px);
                }

                a {
                    background-color: #2e3192;
                    width: 35px;
                    height: 35px;
                    display: block;
                    border-radius: 50%;
                    color: #fff;
                    text-align: center;
                    line-height: 35px;
                    transition: all 0.3s linear;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }

        h3.pageHead {
            font-family: 'Beyond The Mountains';
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            font-size: 40px;
            ;
        }
    }
}
.register-page{
        .bannerWrap {
            position: relative;

            h3 {
                position: absolute;
                z-index: 3;
                left: 0;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                padding: 0 10px;
                color: #fff;
                font-size: 40px;
                font-weight: normal;
            }
        }
}
